# Ignore everything.
**

# But include these files...
!.gitignore
!LICENSE
!README.md

# ... and these files under the 'tf' directory...
!tf/
tf/*
!tf/data.tf
!tf/pri-microservices.tf
!tf/mongodb-microservice.tf
!tf/providers.tf
!tf/resource-group.tf
!tf/tekton.yaml
!tf/tekton_Copy.yaml
!tf/variables.tf
!tf/variables_no_push.tf.template
# ... and this directory...
!tf/cluster_config/
tf/cluster_config/*
!tf/cluster_config/.gitkeep
# ... and these directories...
!tf/modules/
tf/modules/*
!tf/modules/.gitkeep
!tf/modules/pri-microservice/
tf/modules/pri-microservice/*
!tf/modules/pri-microservice/main.tf
!tf/modules/mongodb-microservice-deploy/
tf/modules/mongodb-microservice-deploy/*
!tf/modules/mongodb-microservice-deploy/main.tf
!tf/modules/mongodb-microservice-stateful/
tf/modules/mongodb-microservice-stateful/*
!tf/modules/mongodb-microservice-stateful/main.tf
!tf/modules/mongodb-microservice-stateful/mongodb.conf
