# Ignore everything.
**

# But include these files...
!.gitignore
!LICENSE
!README.md

# ... and these files under the 'tf' directory...
!tf/
tf/*
!tf/cert-manager.tf
!tf/data.tf
!tf/ELK.tf
!tf/bootstrap.tf
!tf/namespace.tf
!tf/pri-microservices.tf
!tf/providers.tf
!tf/tekton_Copy.yaml
!tf/tekton.yaml
!tf/variables_no_push.tf.template
!tf/variables.tf
# ... and this directory...
!tf/cluster_config/
tf/cluster_config/*
!tf/cluster_config/.gitkeep
# ... and these directories...
!tf/modules/
tf/modules/*
!tf/modules/.gitkeep
#
!tf/modules/ELK/
tf/modules/ELK/*
!tf/modules/ELK/elasticsearch/
tf/modules/ELK/elasticsearch/*
!tf/modules/ELK/elasticsearch/main.tf
!tf/modules/ELK/filebeat/
tf/modules/ELK/filebeat/*
!tf/modules/ELK/filebeat/main.tf
!tf/modules/ELK/kibana/
tf/modules/ELK/kibana/*
!tf/modules/ELK/kibana/main.tf
!tf/modules/ELK/logstash/
tf/modules/ELK/logstash/*
!tf/modules/ELK/logstash/main.tf
#
!tf/modules/mongodb-deploy/
tf/modules/mongodb-deploy/*
!tf/modules/mongodb-deploy/main.tf
!tf/modules/mongodb-statefulset/
tf/modules/mongodb-statefulset/*
!tf/modules/mongodb-statefulset/main.tf
#
!tf/modules/pri-microservice/
tf/modules/pri-microservice/*
!tf/modules/pri-microservice/main.tf
#
!tf/modules/rabbitmq-deploy/
tf/modules/rabbitmq-deploy/*
!tf/modules/rabbitmq-deploy/main.tf
!tf/modules/rabbitmq-statefulset/
tf/modules/rabbitmq-statefulset/*
!tf/modules/rabbitmq-statefulset/main.tf
#
!tf/modules/traefik/
tf/modules/traefik/*
!tf/modules/traefik/.gitkeep
!tf/modules/traefik/cert-manager/
tf/modules/traefik/cert-manager/*
!tf/modules/traefik/cert-manager/cert-manager/
tf/modules/traefik/cert-manager/cert-manager/*
!tf/modules/traefik/cert-manager/cert-manager/main.tf
!tf/modules/traefik/cert-manager/issuers/
tf/modules/traefik/cert-manager/issuers/*
!tf/modules/traefik/cert-manager/issuers/main.tf
!tf/modules/traefik/ingress-route/
tf/modules/traefik/ingress-route/*
!tf/modules/traefik/ingress-route/main.tf
!tf/modules/traefik/middlewares/
tf/modules/traefik/middlewares/*
!tf/modules/traefik/middlewares/.gitkeep
!tf/modules/traefik/middlewares/middleware-dashboard/
tf/modules/traefik/middlewares/middleware-dashboard/*
!tf/modules/traefik/middlewares/middleware-dashboard/main.tf
!tf/modules/traefik/middlewares/middleware-gateway/
tf/modules/traefik/middlewares/middleware-gateway/*
!tf/modules/traefik/middlewares/middleware-gateway/main.tf
!tf/modules/traefik/middlewares/middleware-rabbitmq/
tf/modules/traefik/middlewares/middleware-rabbitmq/*
!tf/modules/traefik/middlewares/middleware-rabbitmq/main.tf
!tf/modules/traefik/middlewares/middleware-redirect-https/
tf/modules/traefik/middlewares/middleware-redirect-https/*
!tf/modules/traefik/middlewares/middleware-redirect-https/main.tf
!tf/modules/traefik/middlewares/middleware-security-headers/
tf/modules/traefik/middlewares/middleware-security-headers/*
!tf/modules/traefik/middlewares/middleware-security-headers/main.tf
!tf/modules/traefik/tlsstore/
tf/modules/traefik/tlsstore/*
!tf/modules/traefik/tlsstore/main.tf
!tf/modules/traefik/traefik/
tf/modules/traefik/traefik/*
!tf/modules/traefik/traefik/main.tf
#
!tf/utility-files/
tf/utility-files/*
!tf/utility-files/.gitkeep
#
!tf/utility-files/ELK/
tf/utility-files/ELK/*
!tf/utility-files/ELK/.gitkeep
!tf/utility-files/ELK/filebeat/
tf/utility-files/ELK/filebeat/*
!tf/utility-files/ELK/filebeat/filebeat.yml
!tf/utility-files/ELK/filebeat/mem-filebeat-scc.yaml
#
!tf/utility-files/mongodb/
tf/utility-files/mongodb/*
!tf/utility-files/mongodb/mem-mongodb-scc.yaml
!tf/utility-files/mongodb/certs/
tf/utility-files/mongodb/certs/*
!tf/utility-files/mongodb/certs/.gitkeep
!tf/utility-files/mongodb/configmaps/
tf/utility-files/mongodb/configmaps/*
!tf/utility-files/mongodb/configmaps/mongod.conf
!tf/utility-files/mongodb/scripts/
tf/utility-files/mongodb/scripts/*
!tf/utility-files/mongodb/scripts/entrypoint.sh
!tf/utility-files/mongodb/scripts/start-replication.js
#
!tf/utility-files/rabbitmq/
tf/utility-files/rabbitmq/*
!tf/utility-files/rabbitmq/mem-rabbitmq-scc.yaml
!tf/utility-files/rabbitmq/configmaps/
tf/utility-files/rabbitmq/configmaps/*
!tf/utility-files/rabbitmq/configmaps/rabbitmq.conf
#
!tf/utility-files/traefik/
tf/utility-files/traefik/*
!tf/utility-files/traefik/mem-traefik-scc.yaml
!tf/utility-files/traefik/values.yaml
